# Byte-compiled
__pycache__
*.pycod
*$py.class

# Distribution and packaging
*.egg-info
*.egg

# Juypter notebook related
.ipynb_checkpoints

# BMRC submissions
bmrcs/bmrc_*.sh
submit_pipeline-*.sh

# All my development scripts start with `dev`
dev*
