# Byte-compiled
__pycache__
*.pycod
*$py.class

# Distribution and packaging
*.egg-info
*.egg

# Juypter notebook related
.ipynb_checkpoints

# BMRC submissions
bmrc/bmrc_*.sh
submit_pipeline-*.sh

# macOS
.DS_Store

# All my development scripts start with `dev`
dev*
./transfer_nomadic.sh # shell script for transfer to Oxford cluster
